<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker-bs4.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>
    <script defer src="/js/datePicker.js"></script>
    <link rel="stylesheet" href="/main.css">
    <title>Create Event</title>
</head>

<body class="events">
    <%- include('../partials/navbar.ejs') %>
    <h1>Plan your Event</h1>
    <form method="POST" action="/events">
        <input type="text" name="title" placeholder="Event Name">
        <br>
        <input type="text" name="content" placeholder="Event Description">
        <br>
        <input type="text" name="date" placeholder="Date">
        <br>
        <select class="form-select" aria-label="Default select example" name="photographer">
            <option selected>Choose your photographer</option>
            <option value="Photo 1">Becca Murry</option>
            <option value="Photo 2">Electric Love</option>
            <option value="Photo 3">Meghan Shmolka</option>
            <option value="Photo 4">Other</option>
        </select>
        <select class="form-select" aria-label="Default select example" name="officiator">
            <option selected>Choose your officiator</option>
            <option value="Officiator 1">Kate Talbot</option>
            <option value="Officiator 2">Christa Deane</option>
            <option value="Officiator 3">Sarah Lemp</option>
            <option value="Officiator 4">Other</option>
        </select>
        <select class="form-select" aria-label="Default select example" name="venue">
            <option selected>Choose your venue</option>
            <option value="Venue 1">Venue One</option>
            <option value="Venue 2">Venue Two</option>
            <option value="Venue 3">Venue Three</option>
        </select>
        <select class="form-select" aria-label="Default select example" name="caterer">
            <option selected>Choose your caterer</option>
            <option value="Caterer 1">Caterer One</option>
            <option value="Caterer 2">Caterer Two</option>
            <option value="Caterer 3">Caterer Three</option>
        </select>
        <select class="form-select" aria-label="Default select example" name="baker">
            <option selected>Choose your baker</option>
            <option value="Baker 1">Baker One</option>
            <option value="Baker 2">Baker Two</option>
            <option value="Baker 3">Baker Three</option>
        </select>
        <select class="form-select" aria-label="Default select example" name="musician">
            <option selected>Choose your musician</option>
            <option value="Musician 1">Musician One</option>
            <option value="Musician 2">Musician Two</option>
            <option value="Musician 3">Musician Three</option>
        </select>
       
        <input type="submit">
    </form>
    
</body>

</html>