<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events Index</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <h1>All the Events</h1>
    <a href="/events/new">Add an Event</a>
    <ul>
        <% for (let i = 0; i < allEvents.length; i++) { %>
            <li>
                <a href="/events/<%= allEvents[i]._id %>">
                    <%= allEvents[i].title %>
                </a>
                <br><%= allEvents[i].date %>
            </li>
        <% } %>
    </ul>
</body>
</html>