<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Edit Event</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>

    <h1>Edit page for "<%= event.title %>"</h1>
    <p><%= event.content %></p>
    <br>
    <form method="POST" action="/events/<%= event._id%>?_method=PUT">
        <!-- ?_method=PUT" is a common work around to put the PUT method into the action -->
        <label for="title">New Event:</label>
        <input name="title" type="text">
        <br>
        <label for="title">New Event Content:</label>
        <input name="content" type="text">
        <br>
        <input type="submit">
    </form>





</body>
</html>