<nav class="navbar">
    <span>
        <a href="/events">Events</a>
        <a href="/about">About</a>
        <a href="/services">Services</a>
    </span>
    <span>
        <a href="/">
            <img id="homeButtonNav" src="/imgs/RainbowDiamond.png">
        </a>
    </span>
</nav>
