<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/main.css">
    <title>Bakers</title>
</head>

<body class="bakersbg">
    <%- include('./partials/navbar.ejs') %>
<h1>The Cake of Your Dreams</h1>
 
<div class="about">
<h3>Patisserie Angelica</h3>
<p class=‘bakerbody’>
Patisserie Angelica is a premium wedding 
cake and dessert bakery located in Sebastopol, 
California. Their organic, locally-sourced, 
hand-crafted cakes are always custom-designed, 
distilling the personalities and tastes of their 
clients into a delicious, elegant confection. 
<br>
<a class=‘bakers’ href="https://www.weddingwire.com/biz/patisserie-angelica-sebastopol/0c71e8d738f8c931.html" target='_blank'>Visit Site </a>
</p>

<h3>Lafayette Bakery and Cafe</h3>
<p class=‘bakerbody’>
Lafayette Bakery caters weddings and events located 
in the Carmel valley area. A french owned business, 
their owners are devoted to serving the highest quality 
cake for your wedding.
<br>
<a class=‘bakers’ href="https://lafayette-bakery.com/contact%2Forders" target='_blank'>Visit Site </a>
</p>

<h3>Cakes Made By M.E.</h3>
<p class=‘bakerbody’>
Cakes Made by M.E. is a boutique, specialty bakery that 
focuses on wedding cakes, cakes for special occasions, 
and cupcakes. Cakes Made by M.E. handles a set number 
of orders per week to assure attention to the finest details.
<br>
<a class=‘bakers’ href="http://www.cakesmadebyme.com/" target='_blank'>Visit Site </a>
</p>

</div>

</body>
</html>