<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/main.css">
    <title>Caterers</title>
</head>

<body class="services">
    <%- include('./partials/navbar.ejs') %>
<h1>The Whole Sha-Bang </h1>
 
<div class="about">
    <h3>California Catering</h3>
<p class=‘catererbody’>
California Catering has been providing full service catering experiences to customers throughout the Foothills and Greater Sacramento area for over 12 years. 
<a class=‘caterers’ href=‘http://www.calicater.com/’>Visit Site </a>
</p>


<h3>Paradise Catering</h3>
<p class=‘catererbody’>
Carmel’s Paradise Catering embraces freshness to create delicious meals for events of any size. With organic in mind, they source our food from local meat and produce companies and serve real food with no­-fuss ingredients and a perfect balance of seasonings to create the farm­-to-­table experience they are known for.
<a class=‘caterers’ href=‘http://www.paradisecater.com/?utm_campaign=WeddingWire&utm_medium=referral&utm_source=weddingwire.com’>Visit Site </a>
</p>
<h3>Culinary Excellence</h3>
<p class=‘catererbody’>
Culinary Excellence is a family owned business based out of Oakland California. Your one-stop shop for full-service catering, wedding and event coordination, floral, lighting and production, cakes and desserts, furniture rentals and more. 

<a class=‘caterers’ href=‘https://www.culinaryexcellence.com/?utm_campaign=WeddingWire&utm_medium=referral&utm_source=weddingwire.com’>Visit Site </a>
</p>

</div>

</body>
</html>