<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/main.css">
    <title>Facilities</title>
</head>
<%- include('./partials/navbar.ejs') %>

<body class="werd">

<h1>The Perfect Setting </h1>
 
<div class="about">
    <h3> San Francisco City Hall </h3>
    <p class =“venuebody”>
    This venue is an iconic stable of the LGBT community. San Francisco 
    City Hall is a beautiful and affordable venue located in the middle of 
    bustling San Francisco. This historic venue is definitely something to 
    consider if you have the opportunity. 
    <a class=‘venues’ href="https://www.herecomestheguide.com/wedding-venues/northern-california/san-francisco-city-hall" target='_blank'> Visit Site </a>
    </p>
    
    
    <h3>The Mountain House Estate </h3>
    <p class =“venuebody”>
    The Mountain House Estate is a wedding venue 
    serving the greater Bay Area. This beautiful 
    mountainside estate is nestled in the foothills of 
    Cloverdale, California. “At Mountain House Estate
     we believe that Love Is Love and firmly stand in 
     support of creating a warm welcoming environment 
     for the LGBTQ community and all couples looking to 
     exchange their wedding vows and celebrate their love.”
    <a class=‘venues’ href="https://mountainhouseestate.com/" target='_blank'> Visit Site </a>
    </p>
    
    <h3> Holeman Ranch</h3>
    <p class =“venuebody”>
    Holeman Ranch is an incredibly elegant venue located 
    in beautiful Carmel By The Sea. This magical estate 
    sits atop a grassy hill and offers breathtaking views 
    of the Santa Lucia Mountains.
    <a class=‘venues’ href="https://www.holmanranch.com/weddings-events/weddings/" target='_blank'> Visit Site </a>
    </p>
    
</div>

</body>
</html>