<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/main.css">
    <title>Musicians</title>
</head>

<body class="services">
    <%- include('./partials/navbar.ejs') %>
<h1>Set The Mood</h1>
 
<p>
    <h3>Mark Hardin </h3>
    <p class=‘musicianbody’>
    Mark Hardin as a wedding and event DJ located in Sacramento 
    California. He works both corporate and private events and has 
    won multiple awards for his work as a wedding DJ.
    <a class=‘musicians’ href=‘https://www.sacramentodj.com/weddings/’>Visit Site </a>
    </p>
    
    <h3>The Wedding DJ Company</h3>
    <p class=‘musicianbody’>
    The Wedding DJ Company is a group based out of Chico 
    California. They have been in business for over a decade 
    and do no charge hourly rates or overtime fees.
    <a class=‘musicians’ href=‘https://www.chicoweddingdj.com/dj-services’>Visit Site </a>
    </p>
    
    <h3>The Lucky Devil’s Band</h3>
    <p class=‘musicianbody’>
    This San Fransisco based band has been serving the Bay 
    Area’s wedding scene for over five years. They specialize
    loved one’s dance the night away.
    <a class=‘musicians’ href=‘https://www.weddingwire.com/biz/lucky-devils-band/2c16ae8ee9221710.html’>Visit Site </a>
    </p>
    
</p>

</body>
</html>