<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/main.css">
    <title>Officiators</title>
</head>

<%- include('./partials/navbar.ejs') %>
<body class="officiantbg">
<h1>Officiators</h1>

 
<div class="about">
    <h2>Who will tie the knot...</h2>
    <h3>Kate Talbot</h3>
    <p class="officiantbody">
        Kate Talbot is an officiant located in the San Francisco Bay Area. 
        She has wedded hundreds of couples including same sex marriages 
        and is focused on making everyone at the wedding feel included. 
        “I promise I will make a ceremony where every single guest will say 
        it's the best ceremony they ever attended.”
        <br>
        <a class='officiant' href="https://weddingssanfrancisco.com/" target='_blank'>Visit Site</a>
    </p>
    <br>
    <h3>Christa Deane</h3>
    <p class="officiantbody">
        Christa Deane is an award winning wedding officiant who has served 
        the Take Tahoe area for years. Her services are renowned for being 
        top of the line and she truly enjoys her work “Becoming a marriage 
        officiant has blessed my life in so many ways. I’d be honored to 
        marry you and your partner.”
        <br>
        <a class='officiant' href="https://mountainhighweddings.com/" target='_blank'>Visit Site</a>
    </p>
    <br>
    <h3>Sarah Lemp</h3> 
    <p class="officiantbody">
        Sarah Lemp is an officiant serving the Southern California area. 
        She has been in practice for over a decade and fully supports the 
        rights of the LGBT community. “I want you to have the time of your 
        life on your wedding day, which begins with having a fabulous 
        ceremony.” 
        <br>
        <a class='officiant' href="https://www.sarahmony.com/about" target='_blank'>Visit Site</a>
    </p>
</div>

</body>
</html>