<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/main.css">
    <title>Photographers</title>
</head>

<body class="services">
    <%- include('./partials/navbar.ejs') %>
<h1>Photographers </h1>
<h2> Who we recommend</h2>
    <p>
<h3>Becca Murry</h3>
    <p class='photobody'>
    As a queer poc, Becca Murry specializes in 
    making her customers look and feel brilliant 
    on their special day! She makes it a point to 
    have lgbt representation the focus of her business 
    profile. Murry is based in Los Angeles but available 
    to travel to events within California.
    <a class='photo' href='https://beccamurrayphoto.com/'>Visit Site</a>
    </p>
    <br>
<h3>Electric Love Studios</h3>
    <p class='photobody'>
    Electric Love Studios is worth the flight! This New 
    Jersey based studio is LGBT friendly and creates 
    award-winning photography that you and your loved 
    ones will cherish for a lifetime.
    <a class='photo' href='https://electriclovestudios.com/wedding-photography/'>Visit Site</a>
    </p>
    <br>
<h3>Meghan Shmolka</h3>
    <p class='photobody'>
        Meghan Shmolka is a photographer located in Grass Valley, 
        California. An experienced photographer, she creates high 
        quality business images for her subjects. She is available 
        for events, product design, and more.
    <a class='photo' href='https://www.meghansmolka.com/'>Visit Site</a>
    </p>
</p>

</body>
</html>