<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>What We Offer</title>
</head>

<body class="services">
    <%- include('./partials/navbar.ejs') %>
<h1> What we Offer</h1>
 
   <span>
        <a href="">Officiators</a>

        <a href="">Facilities</a>

        <a href="">Photographers</a>
    </span>
<br>
    <span>
        <a href="">Caterers</a>

        <a href="">Bakers</a>

        <a href="">Musicians</a>
    </span>


</body>
</html>