<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/main.css">
    <title>What We Offer</title>
</head>

<body class="services">
    <%- include('./partials/navbar.ejs') %>
<h1 class="servicestitle"> What we Offer </h1>

<div class="services-grid">
    <span class="services-container1">
        <a class="services-page" href="./services/officiators">Officiators</a>
    </span>
    <span class="services-container2">
        <a class="services-page" href="./services/facilities">Facilities</a>
    </span>
    <span class="services-container3">
        <a class="services-page" href="./services/photographers">Photographers</a>
    </span>
    <span class="services-container4">
        <a class="services-page" href="./services/caterers">Caterers</a>
    </span>
    <span class="services-container5">
        <a class="services-page" href="./services/bakers">Bakers</a>
    </span>
    <span class="services-container6">
        <a class="services-page" href="./services/musicians">Musicians</a>
    </span>
</div>

</body>
</html>