<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/main.css">
    <title>New Vendor</title>
</head>
<body class="services">
    <%- include('../partials/navbar.ejs') %>

    <form method="POST" action="/vendors">
        <input type="text" name="name" id="name" placeholder="Vendor Name">
        <br>
        <input type="text" name="description" id="description" placeholder="Vendor Description">
        <br>
        <select class="form-select" id="type" aria-label="vendorType" name="type">
            <option selected>Vendor type</option>
            <option value="photographer">photographer</option>
            <option value="officiator">officiator</option>
            <option value="venue">venue</option>
            <option value="caterer">caterer</option>
            <option value="baker">baker</option>
            <option value="musician">musician</option>
        </select>
        <input type="submit">
    </form>
</body>
</html>