@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&family=Cinzel+Decorative:wght@700&display=swap');

/* Whole document things */dd
.splash{
    top: 0;
    left: 0;
    width: 100%;
    color: rgb(38 34 98);
    text-align: center;
}
@keyframes fadeIn{
    to{
        opacity: 1;
    }
}
.fade-in{
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}


h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 100px;
    color: rgb(38 34 98);
    text-shadow: 0 0 32px rgb(215, 243, 246);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
h1.fade-in{
    font-size: 130px;
    margin-top: 240px;
    margin-bottom: -110px;
    text-shadow: 0 0 32px rgb(239, 240, 159);
}
/* Homepage */
.homeTitle {
    display: block;
    width: 100%;
    text-shadow: 0 0 32px rgb(249, 250, 153);
    font-size: 115px;
    margin-top: 200px;
    margin-bottom: -60px;
}

body {
    font-family: 'Bodoni Moda', serif;
    font-size: 24px;
    color: black;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: black;
    padding: 15px;
}
a:hover {
    color: gray;
    transition: 1s;
}

#homeButton {
    width: 100px;
}

a.homelink{
    color: black;
}

a.homelink:hover{
    color: white;
    transition: 0.5s;
}

a.homelank{
    color: black;
}

a.homelank:hover{
    color: white;
    transition: 0.5s;
}

h2 {
    color: rgb(38 34 98);
    font-size: 35px;
  }
h3 {
    color: rgb(43, 39, 39);
    margin-left: 40px;
  }


/* Navbar */
.navbar {
    background: rgba(255, 255, 255, .6);
    padding: 15px;
    width: 100%;
}
#homeButtonNav {
    width: 60px;
    position: relative;
    right: 20px;
}

/* Grid container */
div.navigate {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 290px 1fr;
    width: 100%;
    padding: auto 20px;
    align-items: center;
}
/* Grid boxes */

.index-services {
    background: rgba(255, 255, 255, 0.722);
    padding: 6px;
    align-self: center;
    grid-column: 1;
    justify-self: right;
}
.index-services:hover {
    background: rgba(76, 72, 155, 0.6);
    padding: 6px;
    align-self: center;
    grid-column: 1;
    justify-self: right;
    transition: .5s;
}
.diamond {
    width: 290px;
    grid-column: 2;
}
.index-events {
    background: rgba(255, 255, 255, 0.722);
    padding: 6px;
    width: 200px;
    align-self: center;
    grid-column: 3;
    justify-self: left;
}
.index-events:hover {
    background: rgba(76, 72, 155, 0.6);
    padding: 6px;
    width: 200px;
    align-self: center;
    grid-column: 3;
    justify-self: left;
    transition: .5s;
}
/* Services Page */
.servicestitle{
    margin-bottom: 22px;
}
.services-page {
    display:inline-block;
    width: 300px;
    background: rgba(255, 255, 255, .6);
    padding: 6px;
    align-self: center;
}
.services-page:hover {
    display:inline-block;
    width: 300px;
    color: white;
    background: rgba(86, 84, 130, 0.6);
    padding: 6px;
    align-self: center;
}
/* Grid wrapper */
.services-grid {
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(100px, auto);
    padding: 20px 20px;
    justify-content: center;
}
/* Grid containers */
.services-container1 {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
}
.services-container2 {
    min-width: 400px;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
}
.services-container3 {
    min-width: 400px;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: center;
}
.services-container4 {
    min-width: 400px;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
}
.services-container5 {
    min-width: 400px;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
}
.services-container6 {
    min-width: 400px;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: center;
}

/* Serivices individual pages */
div.about{
    padding: 4%;
    width: 80vw;
    background: rgba(255, 255, 255, .7);
    margin: 0 auto;
    margin-top: -50px;
}

/* About Page */
p.about{
    padding: 4%;
    width: 80vw;
    background: rgba(255, 255, 255, .7);
    margin: 0 auto;
    margin-top: -50px;
}

/* Events Index Page*/
.events-add-btn{
    text-align: center;
}
.events-all{
    margin-left: 10%;
}
.events-body{
    margin: 0 auto;
    padding: 4%;
    width: 80%;
    height: 60vw;
    background: rgba(255, 255, 255, .6);
}
/* Events Edit Page */
.btn{
    border: .5px solid rgb(47, 46, 46);
    background: rgb(107, 103, 103);
    color: white;
    font-size: 1em;
    font-weight:bold;
}
.btn:hover{
    background: rgb(255, 255, 255);
    transition: 1s;
    color:rgb(85, 82, 82)
}
.form-select{
    border: .5px solid rgb(47, 46, 46);
    font-size: .85em;
}
.events-edit {
    background: rgba(255, 255, 255, 0.496);
    width: 80vw;
    display: flex;
    justify-content: space-around;
    padding: 5%;
    margin: 0 auto;
}
.events-edit input[type=text] {
    max-width: 50vw;
    min-width: 30vw;
}
#desc-box {
    box-sizing: border-box;
    height: 300px;
    width: 100%;
}

/* Events Show Page */
.showh2{
    text-align: center;
}

/* Photographers Page */
.photobox{
    background: rgba(255, 255, 255, .7);
    width: 80vw;
    display: flex;
    justify-content: space-around;
    padding: 2%;
    margin: 0 auto;
}
.photographers{
    width: 100%;
}
.photo-column{
    margin-left: 3vw;
}
p.photobody {
    color: rgb(43, 39, 39);
     width: 100%;
     padding: 4px;
}
a.photo{
    color: rgb(43, 39, 39);
}
a.photo:hover{
    color: rgb(67, 10, 240);
    transition: 1s;
}
#carouselExampleSlidesOnly{
    width: 60%;
    margin: 0 auto;
}

/* Officients Page */
a.officiant{
    color: rgb(43, 39, 39);
}
a.officiant:hover{
    color: rgb(67, 10, 240);
    transition: 1s;
}

/* Bakers Page */
a.bakers{
    color: rgb(43, 39, 39);
}
a.bakers:hover{
    color: rgb(67, 10, 240);
    transition: 1s;
}
/* Background images */
/* .home affects only the Homepage */
.home {
    background-image: url('imgs/homePage.jpeg');
    background-repeat: no-repeat;
    background-position: top, center;
    background-size: auto;
}

/* .events affects all events ejs files */
.events {
    background-image: url('imgs/editEvent.jpeg');
    background-repeat: no-repeat;
    background-position: top, center;
    background-size: auto;
}

/* .services affects all services/vendors ejs files */
.services {
    background-image: url('imgs/ourServiceswht.jpg');
    background-repeat: no-repeat;
    background-position: top, center;
    background-size: 100%;
}
/* .photobg affects body of photo page */
.photobg{
    background-image: url('imgs/backgrounds/camera1.jpg');
    background-repeat: no-repeat;
    background-position: top, center;
    background-size: 100%;
    background-attachment: fixed;
}
/* .bakersbg affects body of photo page */
.bakersbg{
    background-image: url('imgs/backgrounds/wedcake.jpg');
    background-repeat: no-repeat;
    background-position: top, center;
    background-size: 100%;
    background-attachment: fixed;
}

/* .officiant affects the body officiant page */
.officiantbg{
    background-image: url('imgs/backgrounds/vows.jpg');
    background-repeat: no-repeat;
    background-position: top, center;
    background-size: 100%;
    background-attachment: fixed;
}

/* .about affects body of about page ejs file */
.about-body {
    background-image: url('imgs/backgrounds/pexels-jess-bailey-designs-1172849.jpg');
    background-repeat: no-repeat;
    background-position: top, right;
    background-size: 100%;
}