@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Cinzel+Decorative:wght@700&display=swap');

body {
    font-family: 'Bodoni Moda', serif;
    font-size: 24px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
.navbar {
    background: rgba(255, 255, 255, .6);
    width: 700px;
    /* align-self: stretch; */
    margin-left: 10%;
}
a {
    text-decoration: none;
    color: black;
}
div.navigate {
    display: flex;
    text-align:center;
    justify-content: center;
    width: 100%;
}
#diamond {
    width: 290px;
    margin-top: -30px;
}
.title {
    display: block;
    width: 100%;
}
h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 95px;
    color: rgb(38 34 98);
    text-align: center;
    margin-top: 20px;

}
h1.homeTitle {
    text-shadow: 0 0 32px rgb(249, 250, 153);
    font-size: 115px;
    margin-top: 200px;
    margin-bottom: -60px;
}
#homeButton {
    width: 100px;
}


p.about{
    margin-top: -88px;
    padding: 10%;
}




h2 {
    color: rgb(38 34 98);
    margin-left: 70px;
    font-size: 35px;
  }
h3 {
    color: rgb(43, 39, 39);
    margin-left: 40px;
  }


a.photo{
    color: rgb(43, 39, 39);
}
p.photobody {
    color: rgb(43, 39, 39);
    margin-left: 20px;
}











.index {
    background: rgba(255, 255, 255, .6);
    padding: 6px;
    align-self: center;
    width: 200px;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -110px;
/* width: 300px;
height: 250px; */
}

/* .home affects only the Homepage */
.home {
    background-image: url('imgs/homePage.jpeg');
    background-repeat: no-repeat;
    background-position: top, center;
    background-size: auto;
}

/* .events affects all events ejs files */
.events {
    background-image: url('imgs/editEvent.jpeg');
    background-repeat: no-repeat;
    background-position: top, center;
    background-size: auto;
}

/* .services affects all services/vendors ejs files */
.services {
    background-image: url('imgs/ourServiceswht.jpg');
    background-repeat: no-repeat;
    background-position: top, center;
    background-size: 100%;
}