@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Cinzel+Decorative:wght@700&display=swap');

body {
    font-family: 'Bodoni Moda', serif;

}

h1 {
    font-family: 'Cinzel Decorative', cursive;
}

/* .home affects only the Homepage */
.home {
    background-image: url('imgs/homePage.jpeg');
    background-repeat: no-repeat;
    background-position: top, center;
    background-size: auto;
}

/* .events affects all events ejs files */
.events {
    background-image: url('imgs/editEvent.jpeg');
    background-repeat: no-repeat;
    background-position: top, center;
    background-size: auto;
}

/* .services affects all services/vendors ejs files */
.services {
    background-image: url('imgs/ourServiceswht.jpg');
    background-repeat: no-repeat;
    background-position: top, center;
    background-size: 100%;
}